// Add your custom CSS here.
@media(min-width:1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{width:1200px;max-width:100%;}
    .header__toggler{display:none}
}
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
div, span, p, h1, h2, h3, h4, h5, h6 {
    font-family: Sintony;
}
footer{background-color: #393939;}
footer h4 {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    color:#fff;
    font-family: Sintony;
    text-align:center
}
footer .links h4{text-align:left}
footer .links ul {
    padding: 0;
    list-style: none;
}
footer .links ul li {
    padding-bottom: 3px;
    padding-left: 10px;
    transition: all .2s linear;
    color:#fff;
}
footer .links ul li:before {
    content: "\f0da";
    font-size: 11px;
    font-family: fontAwesome;
}
footer .links ul li a {
    font-size: 11px;
    padding-left: 3px;
    color:#fff;
    text-decoration:none
}
footer .links ul li:hover {
    padding-left: 15px;
}

footer .logo {
    margin-bottom: 30px;
    filter: invert(100%);
}

.d_newsletter > p{
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
.d_newsletter > form {
    width: 80%;
    margin: 0 auto;
}
.d_newsletter form input {
    border: 0px;
    height: 34px;
    font-size: 12px;
    border-radius:0;
}
.d_newsletter  form button {
    background: #000;
    color: #fff;
    height: 34px;
    border-radius: 0px;
    text-transform: lowercase;
    border: 4px solid #fff;
    padding: 0 6px;
    width: 36px;
    font-size: 13px;
}
footer .stamps{justify-content:center}

.justify-content-end{justify-content:flex-end}

footer .social a i{
    font-size: 1.3333333em;
    display: inline-block;
    line-height: 26px;
}
footer .social a{
    margin-left:10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    transition: color .2s;
    background: #fff;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    text-decoration:none;
}
.footer__credits{
    background: #fff;
    margin: 0;
    font-size: 11px;
    text-align: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
    border:0
}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items:center}
#cart-button{}
#cart-button > img{
    height: 27px!important;
    width: 31px!important;
}
#cart-button > span{
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    text-align:left;
    margin-left:10px;
}
#cart-button > span b{}
#cart-button > span span{
    position:relative;
}
#user-button{
    // border-right: 1px solid #000;
    border-radius: 0;
    margin-right: 10px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.header__logo{max-height: unset;}

.header{
    background: #fff;
    padding: 0;
    border: 0;
}
.header__nav{
    background: #000;
    margin: 0 -15px;
}
.header__nav > a{
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 30px;
    color:#fff;
    font-weight:600;
    margin:0;
}
.header__nav > a:hover{
    background: #393939!important;
    border-radius: 0;
}

#search-bar{}
#search-bar [type="search"]{
    font-size: 12px;
    height: 30px;
    padding: 5px;
    border: 1px solid #777!important;
    border-radius: 0;
    width: calc(100% - 88px);
    display: inline-block!important;
    vertical-align: middle;
}
#search-bar [type="submit"]{
    position: relative;
    top: auto;
    bottom: auto;
    padding: 0px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 3px;
    background: #000;
    line-height: 30px;
}

#top-user{
    font-size: 10px;
    color: #1e1e1e;
    display: block;
}
#top-user a{text-decoration: underline;}

#top-links{}
#top-links ul{list-style-type:none;    list-style-type: none;
    margin: 0;}
#top-links ul li{display:inline-block;vertical-align:middle;}
#top-links ul li:last-child{border-left:1px solid #000;padding-left:1.4rem}
#top-links ul li a{
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    line-height: 8px;
}

.header .social a{margin-left:5px;}

.header__container{margin:0 auto;max-width:100%;}
.header__container > .header__row,
.header__container .header__nav{max-width:1200px;margin:0 auto;}
.header__container > .row:last-child{background:#000;}

body,
article,
main{background:#fff;}

.page-title__head h1,
.products-carousel__title,
#product-description .lead{
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    width:100%;
}
.products-carousel__title{text-align:left;margin:30px 15px 30px 15px;padding-left: 0;}
.products-carousel__title span{padding:0;}
.products-carousel__title:before,
#product-description .lead > a{display:none;}
.breadcrumb,
.breadcrumb *{
    color: #000;
    font-size: 12px;
}
.page-title__head,
.page-title{margin-bottom:0}
.retail-grid{margin-top:0;}

article .search-engine__nav{
    background:#fff;
    color:#000;
    font-size:12px;
    padding:0!important;
    margin:0 -15px;
}
article .search-engine__nav .search-engine__toggles > button,
article .search-engine__nav .search-engine__toggles >  .dropdown button,
article .search-engine__nav .search-engine__toggles >  .dropdown a{
    font-size: 12px;
    color: #000;
}
.product-card__prices,
.product-card__name{
    margin: 15px 0 5px 0;
    font-size: 12px;
    text-align: center;
    height:auto;
}
.product-card__prices{margin-top:0;}
.product-card__prices .prices__value,
.product-card .prices__compare{font-size:12px;display:inline-block;margin:0 3px;}

.product-card__buy{display:none!important}

.product-card,
.product-card:hover{
    padding: 0;
    box-shadow: unset;
    margin-bottom: 45px!important;
}
.card-header *{color:#fff;}
.card-header{
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 0!important;
}
aside{
    border: 0!important;
    border-radius: 0!important;
}
#search-engine .search-engine__filter > button{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 600;
}
#search-engine .search-engine__filter > button + div *{font-size:12px;}

// .product-card__picture {
//     position: absolute;
//     display: block;
//     flex: 0 0 100%;
// }

// .product-card__pictures img {
//     height: 417px;
//     max-height: unset;
//     max-width: unset;
//     -o-object-fit: cover;
//     object-fit: cover;
//     left: 50%;
//     transform: translate(-50%);
//     position: relative;
// }

.product-card__offer-stamp{
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    font-weight: 300;
    font-size: 10px;
    top: 0;
    left: 0;
    right: auto;
}

.glide__arrows--outer .glide__arrow{
    color: #000;
    border-radius: 50%;
    opacity: 1;
    font-size:18px;
}
#product-actions .product__buy button .fas,
#product-actions .share-network-whatsapp > span,
#product-actions .product__payment,
#product-actions .shipping-calculator{display:none!important}
#product-actions .share i{filter:grayscale(1)}


#product-actions .product__buy button{
    display: block;
    font-size: 22px;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 8px;
    padding: 13px;
    text-transform: uppercase;
    font-weight: 600;
    background: #41972b;
    border: 0;
}

#product h1{
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.header__container{margin:0}

.shipping-line strong {
    display: none !important;
}

#debonair-home a{
    display:block;
    margin-bottom:30px;
    transition:all .3s;
}

#debonair-home a > img{width:100%;}

#debonair-home a:hover{
    opacity:.9;
}

.apx_fullbanner{margin-bottom:-150px;}
.apx_fullbanner img{width:100%;}

.block-header{
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 20px;
}
.block-header span{display: inline-block;}

.top-bar{
    font-size: 10px;
    text-transform: uppercase;
}
.top-bar img{margin-right:7px;}
.order-info__toggle {
display: none !important;
}


#search-mobile #search-bar{padding:0 0 15px 0;}


@media(max-width:990px){
    .apx_fullbanner{margin-bottom:15px}
    .top-bar{display:none!important}
    .header__logo{
        max-height: 65px;
        margin: 0 auto;
        display: block;
    }
    .user-mobile .header__buttons #cart-button{padding-right:0}
    .user-mobile{justify-content: flex-end;}
    .header__toggler-icon{
        color: #000;
        font-size: 24px;
    }

    .menu__item{
        font-size: 13px;
        display: inline-block;
        margin: 0;
        font-weight: 700;
        border: 0;
        text-transform: uppercase;
        width: 100%;
        padding: 10px 30px;
    } 

    aside#menu{
        max-width:80%;
        overflow: visible;
    }
    aside#menu .menu__btn--close{
        color: #fff;
        background: #000;
        border-radius: 0;
        border: 0;
        height: 40px;
        width: 40px;
        font-size: 14px;
        line-height: 40px;
        padding: 0;
        right: -40px;
    }

    #search-bar [type=search]{vertical-align:top}

    #search-mobile{padding: 0 5px 0 7px;}
    .menu__list{padding:0}

    .header__search{
        border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    }

    #debonair-home img{max-width:100%;}
    #debonair-home a{margin-bottom:15px;}

    #user-mobile{
        padding: 10px 15px 5px 15px;
    }
    #functions_{display:block;font-size:10px;margin-top:5px;}
    #top-user{font-size:12px;}


}