// Add your custom CSS here.
@media(min-width:1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{width:1200px;max-width:100%;}
    .header__toggler{display:none}
}
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
div, span, p, h1, h2, h3, h4, h5, h6 {
    font-family: Sintony;
}
footer{background-color: #393939;}
footer h4 {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    color:#fff;
    font-family: Sintony;
    text-align:center
}
footer .links h4{text-align:left}
footer .links ul {
    padding: 0;
    list-style: none;
}
footer .links ul li {
    padding-bottom: 3px;
    padding-left: 10px;
    transition: all .2s linear;
    color:#fff;
}
footer .links ul li:before {
    content: "\f0da";
    font-size: 11px;
    font-family: fontAwesome;
}
footer .links ul li a {
    font-size: 11px;
    padding-left: 3px;
    color:#fff;
    text-decoration:none
}
footer .links ul li:hover {
    padding-left: 15px;
}

footer .logo {
    margin-bottom: 30px;
    filter: invert(100%);
}

.d_newsletter > p{
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
.d_newsletter > form {
    width: 80%;
    margin: 0 auto;
}
.d_newsletter form input {
    border: 0px;
    height: 34px;
    font-size: 12px;
    border-radius:0;
}
.d_newsletter  form button {
    background: #000;
    color: #fff;
    height: 34px;
    border-radius: 0px;
    text-transform: lowercase;
    border: 4px solid #fff;
    padding: 0 6px;
    width: 36px;
    font-size: 13px;
}
footer .stamps{justify-content:center}

.justify-content-end{justify-content:flex-end}

footer .social a i{
    font-size: 1.3333333em;
    display: inline-block;
    line-height: 26px;
}
footer .social a{
    margin-left:10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    transition: color .2s;
    background: #fff;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    text-decoration:none;
}
.footer__credits{
    background: #fff;
    margin: 0;
    font-size: 11px;
    text-align: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
    border:0
}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items:center}
#cart-button{}
#cart-button > img{
    height: 27px!important;
    width: 31px!important;
}
#cart-button > span{
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    text-align:left;
    margin-left:10px;
}
#cart-button > span b{}
#cart-button > span span{
    position:relative;
}
#user-button{
    // border-right: 1px solid #000;
    border-radius: 0;
    margin-right: 10px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.header__logo{max-height: unset;}

.header{
    background: #fff;
    padding: 0;
    border: 0;
}
.header__nav{
    background: #000;
    margin: 0 -15px;
}
.header__nav > a,
.header__nav > ul > li > a{
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 30px;
    color:#fff;
    font-weight:600;
    margin:0;
}
.header__nav > a:hover{
    background: #393939!important;
    border-radius: 0;
}

#search-bar{}
#search-bar [type="search"]{
    font-size: 12px;
    height: 30px;
    padding: 5px;
    border: 1px solid #777!important;
    border-radius: 0;
    width: calc(100% - 88px);
    display: inline-block!important;
    vertical-align: middle;
}
#search-bar [type="submit"]{
    position: relative;
    top: auto;
    bottom: auto;
    padding: 0px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 3px;
    background: #000;
    line-height: 30px;
}

#top-user{
    font-size: 10px;
    color: #1e1e1e;
    display: block;
}
#top-user a{text-decoration: underline;}

#top-links{}
#top-links ul{list-style-type:none;    list-style-type: none;
    margin: 0;}
#top-links ul li{display:inline-block;vertical-align:middle;}
#top-links ul li:last-child{border-left:1px solid #000;padding-left:1.4rem}
#top-links ul li a{
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    line-height: 8px;
}

.header .social a{margin-left:5px;}

.header__container{margin:0 auto;max-width:100%;}
.header__container > .header__row,
.header__container .header__nav{max-width:1200px;margin:0 auto;}
.header__container > .row:last-child{background:#000;}

body,
article,
main{background:#fff;}

.page-title__head h1,
.products-carousel__title,
#product-description .lead{
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 10px;
    width:100%;
}
.products-carousel__title{text-align:left;margin:30px 15px 30px 15px;padding-left: 0;}
.products-carousel__title span{padding:0;}
.products-carousel__title:before,
#product-description .lead > a{display:none;}
.breadcrumb,
.breadcrumb *{
    color: #000;
    font-size: 12px;
}
.page-title__head,
.page-title{margin-bottom:0}
.retail-grid{margin-top:0;}

article .search-engine__nav{
    background:#fff;
    color:#000;
    font-size:12px;
    padding:0!important;
    margin:0 -15px;
}
article .search-engine__nav .search-engine__toggles > button,
article .search-engine__nav .search-engine__toggles >  .dropdown button,
article .search-engine__nav .search-engine__toggles >  .dropdown a{
    font-size: 12px;
    color: #000;
}
.product-card__prices,
.product-card__name{
    margin: 15px 0 5px 0;
    font-size: 12px;
    text-align: center;
    height:auto;
}
.product-card__prices{margin-top:0;}
.product-card__prices .prices__value,
.product-card .prices__compare{font-size:12px;display:inline-block;margin:0 3px;}

.product-card__buy{display:none!important}

.product-card,
.product-card:hover{
    padding: 0;
    box-shadow: unset;
    // margin-bottom: 45px!important;
}
.card-header *{color:#fff;}
.card-header{
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 0!important;
}
aside{
    border: 0!important;
    border-radius: 0!important;
}
#search-engine .search-engine__filter > button{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 600;
}
#search-engine .search-engine__filter > button + div *{font-size:12px;}

// .product-card__picture {
//     position: absolute;
//     display: block;
//     flex: 0 0 100%;
// }

// .product-card__pictures img {
//     height: 417px;
//     max-height: unset;
//     max-width: unset;
//     -o-object-fit: cover;
//     object-fit: cover;
//     left: 50%;
//     transform: translate(-50%);
//     position: relative;
// }

.product-card__offer-stamp{
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    font-weight: 300;
    font-size: 10px;
    top: 0;
    left: 0;
    right: auto;
}

.glide__arrows--outer .glide__arrow{
    color: #000;
    border-radius: 50%;
    opacity: 1;
    font-size:18px;
}
#product-actions .product__buy button .fas,
#product-actions .share-network-whatsapp > span,
#product-actions .product__payment,
#product-actions .shipping-calculator{display:none!important}
#product-actions .share i{filter:grayscale(1)}



#product-actions .product__buy button{
    display: block;
    font-size: 22px;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 8px;
    padding: 13px;
    text-transform: uppercase;
    font-weight: 600;
    background: #41972b;
    border: 0;
}

#product-actions .product__buy button.btn-secondary{
    background: #393939;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 0;
    font-size:14px;
    letter-spacing:0;
}


#product h1{
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.header__container{margin:0}

.shipping-line strong {
   display: none !important;
}

#debonair-home a{
    display:block;
    margin-bottom:30px;
    transition:all .3s;
}

#debonair-home a > img{width:100%;}

#debonair-home a:hover{
    opacity:.9;
}

.apx_fullbanner{margin-bottom:-150px;}
.apx_fullbanner img{width:100%;}

.block-header{
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 20px;
}
.block-header span{display: inline-block;}

.top-bar{
    font-size: 10px;
    text-transform: uppercase;
}
.top-bar img{margin-right:7px;}
.order-info__toggle {
display: none !important;
}


#search-mobile #search-bar{padding:0 0 15px 0;}


@media(max-width:990px){
    .apx_fullbanner{margin-bottom:15px}
    .top-bar{display:none!important}
    .header__logo{
        max-height: 65px;
        margin: 0 auto;
        display: block;
    }
    .user-mobile .header__buttons #cart-button{padding-right:0}
    .user-mobile{justify-content: flex-end;}
    .header__toggler-icon{
        color: #000;
        font-size: 24px;
    }

    .menu__item{
        font-size: 13px;
        display: inline-block;
        margin: 0;
        font-weight: 700;
        border: 0;
        text-transform: uppercase;
        width: 100%;
        padding: 10px 30px;
    } 

    aside#menu{
        max-width:80%;
        overflow: visible;
    }
    aside#menu .menu__btn--close{
        color: #fff;
        background: #000;
        border-radius: 0;
        border: 0;
        height: 40px;
        width: 40px;
        font-size: 14px;
        line-height: 40px;
        padding: 0;
        right: -40px;
    }

    #search-bar [type=search]{vertical-align:top}

    #search-mobile{padding: 0 5px 0 7px;}
    .menu__list{padding:0}

    .header__search{
        border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    }

    #debonair-home img{max-width:100%;}
    #debonair-home a{margin-bottom:15px;}

    #user-mobile{
        padding: 10px 15px 5px 15px;
    }
    #functions_{display:block;font-size:10px;margin-top:5px;}
    #top-user{font-size:12px;}


}





.header__search{overflow:visible}
#search-bar{}
#search-bar  .backdrop{display:none;}
#search-bar .search__box.card{
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  border-radius: 0;
  width: 550px;
  border-top: 4px solid var(--apx_azul);
  margin-top: 15px;
}
#header .search__history .fas,
#header .search__count{color:#fff;}
#header .search__history{text-align:right}

#header .search__body{max-height:50vh}
#search-bar .search__box.card .search__header{display:none;}
#search-bar .search__box.card .search-engine__results{}
#search-bar .search__box.card .search-engine__results .search-engine__info h3{display:none;}
#search-bar .search__box.card .search-engine__results .search-engine__retail{}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row{display:block;}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div{display:block;width:100%;max-width:100%;}

#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__buy,
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__offer-stamp{display:none}

#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section,
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__link{
  display:flex;
  align-items:center;
}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__pictures{height:auto;}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section picture{max-width:100px;height:75px;}
#search-bar .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__name{
  padding:0 1rem;
  white-space: normal;
  width: 350px;
  text-align: left;
  font-size:12px;
}
#search-bar .search__box.card .search-engine .lead{font-size:14px;margin-top:.5rem}
#search-bar .search__box.card .search-engine h4{font-size:18px;}
#search-bar .search__box.card .search-engine__results .prices{
text-align: right;
align-items: center;
display: flex;
}
#search-bar .search__box.card .search-engine__results .prices > *{margin:0;display:block;text-align:right;    font-size: 14px;}
#search-bar .product-card{box-shadow:unset!important;margin-bottom: 10px!important;}
.search__footer{
  font-size: 12px;
  background: #393939;
  border-radius: 0;
  border: 0;
}
.search__history,
.search__history a,
.search__count{color:#fff;font-size:12px;white-space:normal}
#header .search-engine__terms{    display: none;}


.product-card__picture img{
    min-height: 100%;
    min-width: 100%;
    max-height: unset;
    width: auto;
    height: auto;
}
.card{border:0}


#product-actions .variations{
    border: 1px solid rgb(30, 30, 30);
    padding: 15px 18px 0 18px;
    margin: 2em 0px;
}
#product-actions .variations .variations__grid-title:before{content:"Selecione a opção para "}
#product-actions .variations .variations__grid-title:after{content:":"}
#product-actions .variations .variations__grid-title{
    font-size: 12px;
    text-transform: uppercase;
}
#product-actions .variations .variations__grid-title + .variations__value{font-size:11px}

button.variations__option{
    border-radius: 0;
    min-width: 37px;
    min-height: 37px;
    font-size: 11px;
    border-color: #898989;
    padding: 0;
    line-height: 35px;
    background:transparent;
}
button.variations__option--selected:not(:disabled){
    background:var(--body-color);
    color:var(--body-bg);
    outline:none;
    box-shadow:unset;
}
.debonair-prices{justify-content:space-between;align-items:flex-start}
.debonair-prices > *{
    flex:0 0 50%;
}

.prices--big .prices__value{
    font-size: 28px;
    line-height: 31px;
}
.product__buy + .mb-3{text-align:center;}

.products-carousel{
    padding: 0 15px;
    width: 1200px;
    max-width: 100%;
}
.products-carousel__title{margin-left:0;margin-right:0;}

.product__prices .prices__compare{}
.product__prices .prices__compare small{display:none}
.product__prices .prices__compare s{color: #878787;font-size:14px;line-height:28px;}
.product__prices .product__discount{
    background: var(--body-color);
    color: #fff;
    font-size: 12px;
    padding: .3rem .6rem;
    display: block;
    width: fit-content;
    border-radius: .3rem;
    font-weight: bold;
    margin-top: 0.5rem;
}


.footer__payment-methods img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 20px 10px;
}
.header__nav > ul{
    list-style-type:none;
    display:flex;
    margin:0;
    justify-content:space-between;
}
.header__nav > ul > li.dropdown:hover a,
.header__nav > ul > li > a:hover{
    background-color:#393939;
    border-radius:0;
}
.header__nav > ul > li.dropdown{position:relative;}
.header__nav > ul > li.dropdown .dropdown-menu a{
    color:#fff;
    font-size: 11px;
    letter-spacing: 0;
    padding: 10px 15px;
    text-align: left;
    text-transform: uppercase;
}
.header__nav > ul > li.dropdown .dropdown-menu{
    margin: 0px 0 0 0;
    border-radius: 0;
    background: #393939;
    box-shadow: unset;
    outline: none;
    padding: 0;
}
.header__nav > ul > li.dropdown:hover .dropdown-menu{
    display:block;
}
.header__nav > ul > li.dropdown:after{
    content: "";
    position: absolute;
    left: calc(50% - 4px);
    bottom: 10px;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

@media(max-width:990px){
    .debonair-prices{flex-wrap:wrap}
    .debonair-prices > *{
        flex:0 0 100%;
        margin:.5rem 0 1rem 0;
    }
    #product-description .lead, .page-title__head h1, .products-carousel__title{font-size:18px;padding-right:0}
    .product__buy+.mb-3{text-align:center;}
    
    #search-bar .search__box.card{
        max-width:100%;
    }
    #search-bar .search__box.card .product-card__pictures{display:none;}
    #search-bar .search__box.card .search-engine__results .search-engine__retail>.row>div .product-card .product-card__name{padding-left:0;width: 100%;font-size:.7rem;}
    #search-bar .search-engine__item{padding:0;}
    #search-bar .search-engine__info{padding-bottom:0;}
    #search-bar .product-card__prices .prices__compare{font-size:.8rem;}
    #search-bar .product-card__prices .prices__value{font-size:.8rem;}
    #search-bar .search__body{
        min-height: unset;
        max-height: calc(100vh - 250px);
    }
    #search-bar .search__box.card .search-engine__results .prices>*{font-size:14px;}
    .search__box.card .search-engine__results .search-engine__retail>.row>div .product-card section{justify-content:space-between}

}


/* CHECKOUT */
.app .checkout__info{
    background: transparent;
    border: 0;
}
.app .checkout__summary,
#cart .cart__info{
    padding: 2rem;
    margin: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
    height: auto;
    position: sticky;
    top: 15px;
    background:transparent
}
.checkout__summary .summary__title,
.checkout__app .summary__buyer h5,
#cart .cart__info [for="shipping-calculator-zip"]{
    font-weight:600;
}
.checkout__app .summary__buyer p,
.checkout__app .summary__buyer p *{font-size:12px}
.checkout__app .summary__buyer p small{font-weight:600;}
.checkout__summary .summary__list .summary__item > div{font-size:11px;}
.checkout__summary .summary__list .summary__item > div > a{margin-top:5px;display:block;}
.checkout__summary .summary__list .summary__item > div > a,
.checkout__summary .summary__list .summary__item > div > a > small{font-size:12px;font-weight:600;}
.checkout__summary .summary__list .summary__item > div > .badge{font-size:11px;background:transparent;color:var(--body-color);padding:0;font-weight:normal;margin-right:10px;}
.checkout__summary .summary__list .summary__item > div > .badge:after{content:"x";}
.checkout__summary .summary__amount > .summary__amount__row{
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
}
#checkout .checkout .form-control{
    border: .1rem solid #e1e1e1;
    padding: 1.2rem;
    border-radius: .3rem;
    font-size: .8rem;
}
#checkout .checkout .form-control + .input-group-append{
    border-radius: 0 .3rem .3rem 0;
}
#checkout .checkout .form-row > .form-group{
    width: 100%;
    min-width: 100%;
}
#checkout .checkout .form-group label{
    font-size: .8rem;
    font-weight: 500;
}
#checkout .checkout .input-group .btn{
    line-height: normal;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left:1rem;
}
#spa #storefront-app h1:before{display:none;}
#spa #storefront-app h1{}

#checkout .checkout .login{max-width:100%; width:550px;}

#checkout .checkout .login .h4,
#checkout .checkout .checkout__account > p.lead{
    font-size: 1rem;
    margin-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead{
    border-bottom: 2px solid var(--body-color);
    padding-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead + form{
    padding:1rem;    
}
#checkout .checkout .login__confirm{
    background: #f8f9fa;
    margin: 2rem 0rem!important;
    padding: 2rem;
    max-width: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
}
#checkout .checkout .login__confirm .lead{font-size:.8rem;margin-bottom:1rem;}
#checkout .checkout .login__oauth{margin-top:3rem;}
#checkout .checkout .login__oauth .lead{font-size:1rem;}
#checkout .checkout .login__info{display:none;}
.app__footer{display:none}
.app__header{
    background: transparent;
    box-shadow: unset;
}
.app footer,
.app__credits{background:transparent}
.app__credits *{
    color:var(--body-color);
    font-size:12px;
}
.app__header{
    border-bottom: solid .1rem #e1e1e1;
}
.app footer{
    border-top: solid .1rem #e1e1e1;
}
.app .ecom-credits a{font-size:0;}

.app .checkout__back > a,
.checkout__app .summary__buyer button,
.checkout__account button,
.checkout .account-addresses button[type="submit"],
.checkout .checkout__btn-proceed,
.checkout .account-addresses__card + .btn-outline-secondary,
.discount-applier .discount-applier__coupon-btn,
.checkout .payment .payment__method > form > button.btn-success,
.checkout .payment .payment__method > button,
.cart__info > .btn{
    width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.checkout .checkout__btn-proceed{margin-top:1rem;}
.checkout .checkout__btn-proceed i,
.checkout .account-addresses button[type="submit"] i{display:none}
.app__header .app__contact,
.app__header .app__safe{font-size:12px;}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    border-bottom:3px solid var(--body-color);
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background: var(--body-color);
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: -9px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:var(--body-color)}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

.checkout .payment .list-group > a{
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
}
.checkout .payment .list-group > a .payment__head{
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem .3rem 0 0;
}
.checkout .payment .list-group > a:hover .payment__head{
    background: var(--body-color);
    color: var(--body-bg);
}

.checkout .payment .payment__method{
    border: 0;
    border-radius: .3rem;
    background:#f9f9f9
}

.list-group-item.active{
    color: var(--body-color);
    background-color: #f9f9f9;
    border:0;
}

.cart .cart__list{}
.cart .cart__list .cart-item:first-child{border-top:0}
.cart .cart__list .cart-item{
    border-bottom:1px solid #e1e1e1;
    padding:1rem 0;
    margin:0;
}
.cart .cart__list .cart-item__name,
.cart .cart__list .cart-item__name a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
}
.cart .cart__list .cart-item__quantity{}
.cart .cart__list .cart-item__prices{font-weight:600}
.cart .cart__list .cart-item__prices .cart-item__price-un{}
.shipping-line + small{display:none;}

.minicart__aside .minicart__btn-checkout {
  display: none;
}
.minicart__aside .minicart__btn-cart {
  font-size: 0
}
.minicart__aside .minicart__btn-cart:after {
  font-size: 1rem !important;
  content: "Finalizar Compra"
}
.apx_form{}
.apx_form label{
    font-size:14px;
    display:block;
    color:#000
}
.apx_form input,
.apx_form textarea{
    min-height:40px;
    width:100%;
    display:block;
    margin-bottom:1rem;
    border-radius:0px;
    border:1px solid #212121;
    padding:.5rem;
}
.apx_form button{
    background: #000000;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0;
    border-radius: 0px;
    min-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.product-card__prices {
    justify-content: flex-start;
}
